%% -*- erlang -*-

{base_dir, ".rebar3"}.

{erl_opts, [
            bin_opt_info,
          % debug_info
          % {d,'TEST'}
            warnings_as_errors,
            warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_unused_import
           ]}.

{dialyzer, [
            {warnings, [
                        unmatched_returns,
                        error_handling,
                        race_conditions,
                        overspecs,
                        underspecs,
                        specdiffs,
                        unknown
                       ]},
            {base_plt_apps, [
                             erts,
                             kernel,
                             stdlib
                            ]}
           ]}.
